@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Short Stories</h1>
    <p>This is a compilation of short stories. Please feel free to add one. . .</p>
    <h5>You must login to create a story.</h5>
    <p>New Here? Just visiting? Try my Login -</p>

     <p>Email: kevin@story.com</p>
     <p>Passsword: Story59!</p>
    
</div>
